.sideLinks{
    padding-top: 0;
    font-family: "Lucida Console", "Lucida Sans Typewriter", monaco, "Bitstream Vera Sans Mono", monospace;
}

.sideLinks li{
    margin-top: 2em;
    text-align: center;
}
.sideLinks .username-container{
    margin-top: 4em;
    display: flex;
    font-size: larger;
    flex-direction: column;
    align-items: center;
    color: #9f62e8;
}
.sideLinks .username-container .global-username{
    font-size: 30px;
}

.sideLinks li button{
    font-family: "Lucida Console", "Lucida Sans Typewriter", monaco, "Bitstream Vera Sans Mono", monospace;
    width: 7em;
    height: 4em;
    background-color: #9f62e8;
    /* font-size: px; */
    /* background-color: #323232; */
    color: black;
    border-radius: 200px 200px 200px 200px;
    border: 2px solid black;

    /* margin-left: 1em; */
    font-weight: 900;
}
.sideLinks li button:hover{
    background-color: #B07DEE;
    cursor: pointer;
    width: 7.2em;
    height: 4.2em;
}
.sideLinks li a{
    /* color: #6916A9; */
    color: #9f62e8;
    text-decoration: none;
    align-items: center;
    font-size: larger;
    padding: 5px 25px;
    border-radius: 0 200px 200px 0;
}

.sideLinks li a:hover{
    color: #B07DEE;
    font-weight: 900;
}

