.header-container{
    display: grid;
    grid-template-columns: 15% min-content 15%;
    align-items: center;
    justify-content: space-between;
    background-color: #323232;
    border-bottom: 2px solid black;
    height: 5em;
    font-family: "Lucida Console", "Lucida Sans Typewriter", monaco, "Bitstream Vera Sans Mono", monospace;
    
}

.squirrel-header{
    display: flex;
    justify-content: center;
    align-items: center;

    font-family: 'Top Secret', sans-serif;
    width: 10em;
    height: 1.5em;
    color: #9f62e8;
    font-size: 2.25em;
}